/*------------------------------主体部分时间块样式------------------------------*/
/* 日历每个时间块的基础样式 */
.CalendarWeekBlock {
  /* 宽度自动匹配 */
  flex: 1;
  height: 15px;
  /* 与其他组件的间距 */
  margin: 0px;
  /*边界*/
  border: 1px solid rgba(91, 101, 110, 0.1); /* 0.1为10%不透明度，可调整 */
  /*元素圆角大小*/
  border-radius: 0px;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 多行文本居中 */
  text-align: center;
}
/* 第一列去掉左边框 */
.NoLeftBorder {
  border-left: none;
}

/* 第七列去掉右边框 */
.NoRightBorder {
  border-right: none;
}
/* 除以4的余数为0的行只去掉上边界 */
.NoTopBorder {
  border-top: none;
}

/* 去掉上下边界 */
.NoVerticalBorder {
  border-top: none;
  border-bottom: none;
}
/* 奇数列为灰色按钮 */
.GreyButton {
  background-color: #f9f9f9;
  color: #827e7e;
}

/* 偶数列为白色按钮 */
.WhiteButton {
  background-color: #fff;
  color: #333;
}
/* 按钮被触摸时的过渡效果 */
.GreyButton,
.WhiteButton {
  transition: background-color 0.3s;
}

/* 鼠标悬停时变成深灰色 */
.GreyButton:hover,
.WhiteButton:hover {
  background-color: #bdbdbd;
}

/* 隐藏主体部分的滚动条 */
/* 针对大多数浏览器 */
#CalendarWeekMain {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE和Edge */
}
#CalendarWeekMain::-webkit-scrollbar {
  display: none; /* Chrome和Safari */
}
/*------------------------------主体部分时间块样式------------------------------*/
/*------------------------------顶部时间块样式------------------------------*/
.CalendarWeekHeaderBlock {
  flex: 1;
  height: 15px;
  margin: 0px;
  border: 1px solid #007bff; /* 蓝色边框 */
  border-radius: 0px; /* 圆角 */
  background-color: #f0f8ff; /* 浅蓝色背景 */
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 多行文本居中 */
  text-align: center;
}
.CalendarWeekHeaderTodayButton {
  background-color: #3d21d9 !important; /* 绿色 */
  color: #fff !important;
}
.CalendarWeekHeaderButton {
  /* 宽度自动匹配 */
  flex: 1;
  height: 8vh;
  /* 与其他组件的间距 */
  margin: 0px;
  /*边界*/
  border: 1px solid rgba(91, 101, 110, 0.1); /* 0.1为10%不透明度，可调整 */
  /*元素圆角大小*/
  border-radius: 0px;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 多行文本居中 */
  text-align: center;
}
/*------------------------------顶部时间块样式------------------------------*/
